<div class="p-3">
  <h1>Lists</h1>
  <div class="lists-cards">
    <% @lists.each do |list| %>
      <div class="card-category m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : asset_path('adrian-cogua-oWrskhOkZtY-unsplash.jpg') %>)">
        <%= link_to list.name, list_path(list) %>
        <div class="list-delete">
          <%= link_to list_path(list), method: :delete do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to new_list_path do %>
    <p><i class="far fa-plus-square"></i> Create new list</p>
  <% end %>

</div>
