<h1>Lists</h1>
<ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to list.name, list_path(list) %>
      <%= link_to list_path(list), method: :delete do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to new_list_path do %>
  <p><i class="far fa-plus-square"></i> Create new list</p>
<% end %>
